body{
    margin:0px;
   
}
header{
   background-color: blue;
   color:white;
   padding: 0 20px 0 20px;
}
header p:nth-child(3){
    margin-bottom: 0px;
}
nav{
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    background-color: turquoise;
    color: white;
}
.grid_container{
display: flex;
}
.section_left{
    width: 65%;
    padding: 0 20px 0 20px;
    background-color: cadetblue;
}
.section_right{
    width: 35%;
    padding: 0 20px 0 20px;
}
footer{
    background-color: blue;
    color:white;
    padding: 0 20px 0 20px;
}